<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
	">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/coursemanage"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/coursemis/model/Course.hbm.xml</value>
				<value>com/coursemis/model/Courseevaluation.hbm.xml</value>
				<value>com/coursemis/model/Coursetime.hbm.xml</value>
				<value>com/coursemis/model/Message.hbm.xml</value>
				<value>com/coursemis/model/Note.hbm.xml</value>
				<value>com/coursemis/model/Sourcemanage.hbm.xml</value>
				<value>com/coursemis/model/Student.hbm.xml</value>
				<value>com/coursemis/model/Studentcourse.hbm.xml</value>
				<value>com/coursemis/model/Studenthomework.hbm.xml</value>
				<value>com/coursemis/model/Teacher.hbm.xml</value>
				<value>com/coursemis/model/Location.hbm.xml</value>
				<value>com/coursemis/model/Signin.hbm.xml</value>
				<value>com/coursemis/model/Score.hbm.xml</value>
				<value>com/coursemis/model/Questionbank.hbm.xml</value>
				<value>com/coursemis/model/Period.hbm.xml</value>
				<value>com/coursemis/model/Evaluation.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="baseDAO" class="com.coursemis.dao.impl.BaseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="teacherDAO" class="com.coursemis.dao.impl.TeacherDAO"
		parent="baseDAO">
	</bean>
	<bean id="studentDAO" class="com.coursemis.dao.impl.StudentDAO"
		parent="baseDAO">
	</bean>
	<bean id="courseDAO" class="com.coursemis.dao.impl.CourseDAO"
		parent="baseDAO">
	</bean>
	<bean id="coursetimeDAO" class="com.coursemis.dao.impl.CoursetimeDAO"
		parent="baseDAO">
	</bean>
	<bean id="studentcourseDAO" class="com.coursemis.dao.impl.StudentcourseDAO"
		parent="baseDAO">
	</bean>
	<bean id="courseevaluationDAO" class="com.coursemis.dao.impl.CourseevaluationDAO"
		parent="baseDAO">
	</bean>
	<bean id="noteDAO" class="com.coursemis.dao.impl.NoteDAO" parent="baseDAO">
	</bean>
	<bean id="studentHomeWorkDAO" class="com.coursemis.dao.impl.StudentHomeWorkDAO"
		parent="baseDAO">
	</bean>
	<bean id="sourceManageDAO" class="com.coursemis.dao.impl.SourceManageDAO"
		parent="baseDAO">
	</bean>
	<bean id="locationDAO" class="com.coursemis.dao.impl.LocationDAO"
		parent="baseDAO">
	</bean>
	<bean id="signInDAO" class="com.coursemis.dao.impl.SignInDAO"
		parent="baseDAO">
	</bean>
	<bean id="questionBankDAO" class="com.coursemis.dao.impl.QuestionBankDAO"
		parent="baseDAO">
	</bean>
	<bean id="scoreDAO" class="com.coursemis.dao.impl.ScoreDAO"
		parent="baseDAO">
	</bean>
	<bean id="periodDAO" class="com.coursemis.dao.impl.PeriodDAO"
		parent="baseDAO">
	</bean>
	<bean id="evaluationDAO" class="com.coursemis.dao.impl.EvaluationDAO"
		parent="baseDAO">
		<property name="periodDAO">
			<ref bean="periodDAO" />
		</property>
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	

	<!-- service -->
	<bean id="teacherService" class="com.coursemis.service.impl.TeacherService">
		<property name="teacherDAO">
			<ref bean="teacherDAO" />
		</property>
	</bean>

	<bean id="studentService" class="com.coursemis.service.impl.StudentService">
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
	</bean>
	<bean id="courseService" class="com.coursemis.service.impl.CourseService">
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="coursetimeService" class="com.coursemis.service.impl.CoursetimeService">
		<property name="coursetimeDAO">
			<ref bean="coursetimeDAO" />
		</property>
	</bean>
	<bean id="studentcourseService" class="com.coursemis.service.impl.StudentcourseService">
		<property name="studentcourseDAO">
			<ref bean="studentcourseDAO" />
		</property>
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="courseevaluationService" class="com.coursemis.service.impl.CourseevaluationService">
		<property name="courseevaluationDAO">
			<ref bean="courseevaluationDAO" />
		</property>
	</bean>
	<bean id="noteService" class="com.coursemis.service.impl.NoteService">
		<property name="noteDAO">
			<ref bean="noteDAO" />
		</property>
	</bean>
	<bean id="studentHomeWorkService" class="com.coursemis.service.impl.StudentHomeWorkService">
		<property name="studentHomeWorkDAO">
			<ref bean="studentHomeWorkDAO" />
		</property>
	</bean>
	<bean id="sourceManageService" class="com.coursemis.service.impl.SourceManageService">
		<property name="sourceManageDAO">
			<ref bean="sourceManageDAO" />
		</property>
	</bean>
	<bean id="locationService" class="com.coursemis.service.impl.LocationService">
		<property name="locationDAO">
			<ref bean="locationDAO" />
		</property>
		<property name="teacherDAO">
			<ref bean="teacherDAO" />
		</property>
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
	</bean>
	<bean id="signInService" class="com.coursemis.service.impl.SignInService">
		<property name="signInDAO">
			<ref bean="signInDAO" />
		</property>
		<property name="teacherDAO">
			<ref bean="teacherDAO" />
		</property>
		<property name="courseDAO">
			<ref bean="courseDAO" />
		</property>
		<property name="studentDAO">
			<ref bean="studentDAO" />
		</property>
		<property name="locationDAO">
			<ref bean="locationDAO" />
		</property>
	</bean>
	<bean id="questionBankService" class="com.coursemis.service.impl.QuestionBankService">
		<property name="questionBankDAO">
			<ref bean="questionBankDAO" />
		</property>
	</bean>
	<bean id="scoreService" class="com.coursemis.service.impl.ScoreService">
		<property name="scoreDAO">
			<ref bean="scoreDAO" />
		</property>
	</bean>
	<bean id="periodService" class="com.coursemis.service.impl.PeriodService">
		<property name="periodDAO">
			<ref bean="periodDAO" />
		</property>
	</bean>
	<bean id="evaluationService" class="com.coursemis.service.impl.EvaluationService">
		<property name="evaluationDAO">
			<ref bean="evaluationDAO" />
		</property>
	</bean>



	<!-- action -->
	<bean id="sourceMangerAction" class="com.coursemis.action.SourceMangerAction"
		scope="prototype">
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
	</bean>
	<bean id="loginCheckAction" class="com.coursemis.action.LoginCheckAction"
		scope="prototype">
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
	</bean>
	<bean id="course_teacherAction" class="com.coursemis.action.Course_TeacherAction"
		scope="prototype">
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
	</bean>
	<bean id="coursetimeAction" class="com.coursemis.action.CoursetimeAction"
		scope="prototype">
		<property name="coursetimeService">
			<ref bean="coursetimeService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
	</bean>
	<bean id="student_courseAction" class="com.coursemis.action.Student_CourseAction"
		scope="prototype">
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="coursetimeService">
			<ref bean="coursetimeService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
	</bean>
	<bean id="evaluationAction" class="com.coursemis.action.EvaluationAction"
		scope="prototype">
		<property name="courseevaluationService">
			<ref bean="courseevaluationService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
	</bean>
	<bean id="noteAction" class="com.coursemis.action.NoteAction"
		scope="prototype">
		<property name="noteService">
			<ref bean="noteService" />
		</property>
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
	</bean>
	<bean id="studentOperationAction" class="com.coursemis.action.StudentOperationAction"
		scope="prototype">
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
		<property name="locationService">
			<ref bean="locationService" />
		</property>
		<property name="signInService">
			<ref bean="signInService" />
		</property>
		<property name="scoreService">
			<ref bean="scoreService" />
		</property>
		<property name="periodService">
			<ref bean="periodService" />
		</property>
	</bean>
	<bean id="debugAction" class="com.coursemis.action.DebugAction"
		scope="prototype">
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="teacherService">
			<ref bean="teacherService" />
		</property>
	</bean>
	<bean id="teacherMentionName" class="com.coursemis.action.TeacherMentionName"
		scope="prototype">
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="coursetimeService">
			<ref bean="coursetimeService" />
		</property>
		<property name="locationService">
			<ref bean="locationService" />
		</property>
	</bean>
	<bean id="teacherManageHomeWorkAction" class="com.coursemis.action.TeacherManageHomeWorkAction"
		scope="prototype">
		<property name="studentcourseService">
			<ref bean="studentcourseService" />
		</property>
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
		<property name="studentHomeWorkService">
			<ref bean="studentHomeWorkService" />
		</property>
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="periodService">
			<ref bean="periodService" />
		</property>
		<property name="questionBankService">
			<ref bean="questionBankService" />
		</property>
		<property name="scoreService">
			<ref bean="scoreService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
		<property name="evaluationService">
			<ref bean="evaluationService" />
		</property>
	</bean>
	<bean id="uploadVideoAction" class="com.upload.UploadVideoAction"
		scope="prototype">
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
	</bean>
	<bean id="studentUploadAction" class="com.upload.StudentUploadAction"
		scope="prototype">
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
		<property name="studentHomeWorkService">
			<ref bean="studentHomeWorkService" />
		</property>
	</bean>
	<bean id="uploadAction" class="com.upload.UploadAction" scope="prototype">
		<property name="studentService">
			<ref bean="studentService" />
		</property>
		<property name="sourceManageService">
			<ref bean="sourceManageService" />
		</property>
		<property name="studentHomeWorkService">
			<ref bean="studentHomeWorkService" />
		</property>
		<property name="courseService">
			<ref bean="courseService" />
		</property>
	</bean>
	
	<!-- 签到的SignInTimer类 -->
	<bean id = "signInTimer" class ="com.coursemis.uti.SignInTimer" scope="prototype">
		<property name="locationService">
			<ref bean="locationService"/>
		</property>
		<property name="courseService">
			<ref bean="courseService"/>
		</property>
	</bean>
	<!-- 测试okhttp的action -->
	<bean id = "okhttp" class ="com.coursemis.action.TestOkHttpAction" scope="prototype">
	</bean>
</beans>